<div id="main-container" class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-md-4 wfl-card-wrap">
                <div class="wfl-card user-block">
                    <div class="featured-block">
                        <div class="user-avatar">
                            <img src="<%= user.image %>">
                        </div>
                        <div class="featured-image">
                            <img src="<%= user.restaurant.image %>">
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-name">
                            <%= user.first_name %> <%= user.last_name %>
                        </div>
                        <div class="user-email">
                            <%= user.email %>
                        </div>
                    </div>
                    <div class="user-profile">

                        <%= button_to 'See Profile', user, :class => "btn wfl-btn", :method => :get %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div id="cover"></div>
