<%= form_for([@user, @lunch]) do |f| %>
  <% if @lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch.errors.count, "error") %> prohibited this lunch from being saved:</h2>

      <ul>
      <% @lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :restaurant %><br />
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, :prompt => "Select a Restaurant"  %>
  </div>
  <div class="field">
    <%= f.label :food_item %><br />
    <%= f.text_field :food_item %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.select :rating, options_for_select([[1, 1],[2, 2],[3, 3],[4, 4],[5, 5]]) %>
  </div>
  <div class="field">
    <%= f.label :lunch_date %><br />
    <%= f.date_select :lunch_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
